<h1>Theater Home Page</h1>

<div>
  <h2>Theaters</h2>
  <% @theaters.each do |theater| %>
    <div class="theater">
      <%= theater.name %>
      <%= link_to "Show theater", theater_path(theater.id) %>
    </div>
  <% end %>
</div>
<br clear="all" />
